body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(287.56deg, #e24343 0%, #6000af 100%);
}

.container-header{
    width: 100%;
    padding-top: 30px;
        
}
    
.top-bar{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
}

.inner-top-bar{
display: flex;
flex-direction: row;
justify-content: space-around;

}

.inner-top-bar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.text{
    padding-left: 10px;
}
.link-follows-header{
display: flex;
flex-direction: row;


}

.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.container-links li{    
    width: 30px;
    list-style-type: none;
}
.container-links a{
    text-decoration: none;
    color: white;
}

.container-logo{
    padding: 5px;   
}

.logo-test-img{
    border-radius: 20px;
}

.container-buttons{
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

}
.container-search{
        border: 1px solid red;
        width: 60%;
        padding: 10px 10px;
        box-shadow: 0 15px 30px black;
        display: flex;
        text-align: center;
        justify-content: center;
    }
.search-text-input{
    width: 60%;
    border-radius: 30px  0px   0px 30px;
    font-weight: 500;
    height: 40px;
    padding-left: 30px;
    font-size: 16px;
}

/* Style buttons */
.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    margin: 10px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
.new-skin-button{

    width: 7%;
    font-size: 2;
    color: white;
    border: none;
    opacity: 1;
    background-color: #6000af;
    border-radius: 0px 30px 30px 0px;

}
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }



  .container-list-type{
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 15px;
    height: 30%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;

  }

.list-type{   
    list-style-type: none;
  }


  .img-csgo{
    width: 40%;
    height: 100%;
  }

  .footer{
    font-size: 20px;
    color: white;
  }
  
  .seg:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }


.container-first{
    width: 100%;
    height: 400px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
