@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #090d11;
}

.container-header {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px;
  padding-top: 40px;
  background-color: #101820;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-logo {
  display: flex;
  flex-direction: row;
}
.container-logo p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.logo {
  padding-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.container-logo a {
  text-decoration: none;
}

.container-search {
  width: 20vw;
  max-width: 270px;
}

#search {
  height: 30px;
  margin-left: 40px;
  padding-left: 20px;
  border-radius: 20px;
  height: 45px;
  width: 90%;
  background-color: #252f3a93;
  border: none;
  color: white;
}

.container-login {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  gap: 50px;
}

.button {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #252f3a93;
  color: white;
  border-radius: 10px;
  user-select: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.3;
}

.button-wish {
  color: gray;
  font-size: 20px;
  user-select: none;
}

.button-wish:hover {
  color: white;
  cursor: pointer;
}

.top-bar {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 5px;
  position: fixed;
  top: 0;
  background-color: gray;
  width: 100%;
  z-index: 8;
}

.inner-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inner-top-bar-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text {
  padding-left: 10px;
}
.link-follows-header {
  display: flex;
  flex-direction: row;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-links li {
  width: 30px;
  list-style-type: none;
}
.container-links a {
  text-decoration: none;
  color: white;
}

.container-filter-itens {
  width: 86vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #101820;
  color: grey;
  margin-top: 450px;
  margin-bottom: 10px;
  gap: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
}

.filter-itens-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  background-color: #090d11;
  z-index: 3;
}
.dropdown-content div {
  padding: 15px;
}
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown-type {
  background-color: #252f3a93;
  border-radius: 10px;
  height: 40px;
}

.all:hover {
  transform: scale(1);
}

.dropdown-content div:hover {
  color: white;
}

.filter-itens-order,
.filter-itens-filter {
  margin: 0 20px 0 20px;
  background-color: #252f3a93;
  border-radius: 10px;
  height: 40px;
}

.container-list-type {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 15px;
  height: 30%;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.list-type {
  list-style-type: none;
}

.img-csgo {
  width: 40%;
  height: 100%;
}

.footer {
  font-size: 20px;
  color: white;
}
.seg:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.container-first {
  width: 100%;
  height: 400px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container-itens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 88%;
  justify-content: center;
}

.card-item {
  border: 1px solid black;
  box-shadow: 5px 10px 17px 10px rgba(0, 0, 0, 0.82);
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #1c1e22;
  height: 370px;
  width: 270px;
  color: white;
  border-radius: 10px;
  margin: 2px;
}

.card-item img {
  width: 95%;
}
.card-item h3 {
  font-size: 14px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30px;
}
.heart {
  font-size: 45px;

  z-index: 2;
}

.heart:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: rgba(211, 39, 39, 0.589);
}

.choosenSkin {
  color: red;
}
.stattrack {
  background-color: orangered;
  align-self: center;
  width: 90%;
  height: 20px;
  border-radius: 15px;
}
.stattrack p {
  margin: 0;
}

h3 a {
  text-decoration: none;
  color: white;
}

.btn-inspect p {
  border: 1px solid black;
  background-color: grey;
  width: 50%;
  border-radius: 10px;
}
.text-btn-inspect {
  text-decoration: none;
  color: white;
}

.btn-inspect {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 90%;
}

.pages {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 10px;
  list-style: none;
}

.unClick {
  background-color: #1c1e221c;
}

.unClick:hover {
  transform: scale(1);
  cursor: pointer;
}

.container-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #1c1e22ee;
  display: none;
  align-items: center;
  justify-content: center;
}

#showUp {
  display: flex;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: #18242eb0;
  color: white;
  padding: 0 8vh 0 8vh;
  height: 75vh;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  border-radius: 40px;
}

.personal-info-title {
  align-self: center;
  position: relative;
  top: -10vh;
  font-size: 25px;
}

.form-name-surname {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 5vw;
  align-self: center;
  justify-content: center;
  background-color: rgba(18, 83, 136, 0.568);
}

.form-close-btn {
  position: relative;
  top: -10vh;
  align-self: flex-end;
  font-size: 25px;
  color: grey;
  user-select: none;
  cursor: pointer;
}

form input {
  background-color: #495e7493;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 10px;
}
